img{
    margin-left: 28%;
}
.container{
    margin-left: 38%;
}
button{
    width: 10%;
    height: 80px;
    color: white;
    background: rgb(246,255,52);
    background: linear-gradient(0deg, rgba(246,255,52,1) 0%, rgba(45,253,98,1) 100%);
    border: none;
    
}
input{
    width: 20%;
    height: 73px;
    text-align: center;
}