#lampada {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: 32%;
    margin-top: -10%;

}
 
.main {
    display: flex;
    flex-direction: column;

}
 
.botaoliga {
    padding: 15px 30px;
    font-size: 16px;
    background: rgb(241,164,4);
    background: linear-gradient(0deg, rgba(241,164,4,1) 0%, rgba(251,255,101,1) 100%);
    color: black;
    margin-left: 39%;
}
.botaodesliga {
    padding: 15px 30px;
    font-size: 16px;
    background: rgb(43,44,18);
    background: linear-gradient(0deg, rgba(43,44,18,1) 0%, rgba(20,23,216,1) 100%);
    color: white;
}
img{
    margin-top: -8%;
    margin-left: 27%;
}

